# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
vulnyx

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Database
db/

# Go workspace file
go.work
go.sum

# Results directory
results/

# IDE specific files
.idea/
.vscode/

# Old Python-specific files
.venv/
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.bin
main.build/
main.dist/