fastapi==0.115.12
uvicorn==0.34.1
jinja2==3.1.6
numba==0.61.2
python-multipart==0.0.20
requests==2.32.3
python-dateutil==2.9.0.post0
pydantic==2.11.3
dnspython==2.7.0
tld==0.13
bs4==0.0.2
lxml==5.3.2
sqlalchemy==2.0.40
bcrypt==3.2.0
python-jose==3.4.0
passlib==1.7.4